/* This section belongs to the "Home Page". */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&family=Raleway:wght@500&display=swap');

/* Fonts: Lato, Playfair Display, Raleway. */

body, html{
    margin: 0;
    padding: 0;
    background-color: #AFA2FF;
    color: black;
    height: 100%;
}

.content.container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: auto 1fr auto ;
    max-width: none;
    margin: auto;

}

.branding-header{
    background-color: black;
    color: antiquewhite;
    padding: 20px;
}

#navbar{
    text-align: center;
    background-color: black;
    align-self: center;
    gap: 100px;
} 

#navbar a{
    text-decoration: none;
    color: antiquewhite;
    margin: 0 15px;
    gap: 100px;
    color: antiquewhite;
    font-family: 'Playfair Display' , sans-serif;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 10px;
    justify-items: center;
    align-items: center;
    padding: 10px 0;
    margin-left: 300px;
}

nav a{
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
}

.hero-image{
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/the_beauty_brand_hero_image\ 2.jpg");
    height: 95%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #AFA2FF;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.hero-image:hover .overlay {
    height: 70%;
}

.over-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.site-footer{
    background-color: black;
    color: antiquewhite;
    padding: 20px;
}
